<div class="header">
  <div class="nav-auth">
    <a class="btn-icon" href="/login"><i class="bx bx-log-in"></i> Login</a>
    <a class="btn-icon" href="/register"
      ><i class="bx bxs-user-plus"></i> Register</a
    >
  </div>
  <a class="btn-icon bg-new" href="/new-image"
    ><i class="bx bx-image-add"></i> New
  </a>
</div>
