<div class="header">
  <a class="btn-icon" href="/new-image"
    ><i class="bx bx-image-add"></i> New Image</a
  >
  <div>
    <a class="btn-icon" href=""></a>
    <a class="btn-icon" href=""></a>
  </div>
</div>
